{% extends 'base.html.twig' %}

{% block title %}Hello QuoteController!{% endblock %}
{% block head %}
{% endblock head %}



{% block body %}

<div id="video-background">
    <div id="text-container">
      <h1> This is a generator of random anime quotes </h1>

     <p> Anime : {{animequote.anime}}
      <br/>
      Character : {{animequote.character}}
      <br/>
      Quote : {{animequote.quote}}
      </p>
   
        </div>
        <div id="video-container">
          <video id="video" src="{{asset("video/videoplayback.mp4")}}"
            autoplay muted loop>
          </video>
          <div id="overlay"></div>

        </div>
        
    </div>
  </div>
  

{% block javascripts %}
<script src="{{ asset('js/video.js') }}"></script>

{% endblock  %}


{% endblock %}
